<div 
    class="container" 
    [ngClass]="{'top-rated':courseDetails.topRated}" 
    appDynamicBorder 
    [createdDateMs]="courseDetails.creationDateMs">
    
  <div class="content">
      <div class="header">
          <div class="title">{{courseDetails.title | uppercase}}</div>
          <div class="duration">
              <div class="time">
                {{courseDetails.durationMs | coursesTimeMsPipe}}
              </div>
              <mat-icon *ngIf="courseDetails.topRated">star</mat-icon>
            </div>
            <div class="date">
              Created: {{courseDetails.creationDateMs | date : 'dd/MM/yyyy'}}
            </div>
      </div>

      <div>
          {{courseDetails.description}}
      </div>
  </div>

  <div class="button-bar">
      <div>
          <input type="button" value="Edit course" (click)="onEditCourseButtonClick()"/>
      </div>
      <div>
          <input type="button" value="Delete course" (click)="onDeleteCourseButtonClick()"/>
      </div>
  </div>
  
</div>
