<div class="container" [ngClass]="{'top-rated':courseDetails.topRated}">
  <div class="content">
      <div class="header">
          <div class="title">{{courseDetails.title}}</div>
          <div class="duration">
              <div class="time">
                {{courseDetails.durationMs | coursesTimeMsPipe}}
              </div>
              <mat-icon *ngIf="courseDetails.topRated">star</mat-icon>
            </div>
          <div class="date">{{courseDetails.creationDateMs | date : 'dd/MM/yyyy'}}</div>
      </div>

      <div>
          {{courseDetails.description}}
      </div>
  </div>

  <div class="button-bar">
      <div>
          <input type="button" value="Edit course"/>
      </div>
      <div>
          <input type="button" value="Delete course" (click)="onDeleteCourseButtonClick()"/>
      </div>
  </div>
</div>
