<div class="container">
  Stats:
  <div *ngIf="stats$ | async as stats">
    <div>
      {{stats.pair}}
    </div>
    <div>
      {{stats.buyRatio}}
    </div>
    <div>
      <a href="{{stats.link}}">{{stats.link}}</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="login-form">
    <form #form="ngForm" (submit)="onFormSubmit(form)">
      <fieldset>
        <div>
          <label for="login">Login (required)</label>
          <input 
              name="login"
              type="text"
              required
              #login="ngModel"
              [(ngModel)]="user.login"/>
        </div>
        <div 
            class="form-control error-display"
            *ngIf="login?.invalid && login.dirty">
          {{login?.errors | json}}
        </div>
        <div>
          <label for="password">Password (required)</label>
          <input 
              name="password"
              type="password"
              required
              #password="ngModel"
              [(ngModel)]="user.password"/>
        </div>
        <div 
            class="form-control error-display"
            *ngIf="password?.invalid && password.dirty">
          {{password?.errors | json}}
        </div>

        <div>
          <input type="submit" value="Enter" [disabled]="form.invalid || form.pristine"/>
        </div>
      </fieldset>
    </form>
  </div>
</div>
