<div class="container">
  <app-shared-header></app-shared-header>
  <div class="login-form">
    <div>
      <label for="login">Login</label>
      <input id="login" type="text" [(ngModel)]="user.login"/>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" type="password" [(ngModel)]="user.password"/>
    </div>

    <div>
      <input type="button" value="Enter" (click)="onEnterButtonClick()"/>
    </div>
  </div>
  <app-shared-footer></app-shared-footer>
</div>
