<div class="container">
  60+% Statistics:
  <div *ngFor="let statistics of popularStats">
    <div class="stats">
      <div>
        {{statistics.pair}}
      </div>
      <div>
        {{statistics.lastTrade}}
      </div>
      <div>
        {{statistics.buyRatio}}
      </div>
      <div>
        <a href="{{statistics.link}}" target="_blank">{{statistics.link}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  All Statistics:
  <div *ngFor="let statistics of stats">
    <div class="stats">
      <div>
        {{statistics.pair}}
      </div>
      <div>
        {{statistics.lastTrade}}
      </div>
      <div>
        {{statistics.buyRatio}}
      </div>
      <div>
        <a href="{{statistics.link}}" target="_blank">{{statistics.link}}</a>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="container">
  <div class="login-form">
    <form #form="ngForm" (submit)="onFormSubmit(form)">
      <fieldset>
        <div>
          <label for="login">Login (required)</label>
          <input 
              name="login"
              type="text"
              required
              #login="ngModel"
              [(ngModel)]="user.login"/>
        </div>
        <div 
            class="form-control error-display"
            *ngIf="login?.invalid && login.dirty">
          {{login?.errors | json}}
        </div>
        <div>
          <label for="password">Password (required)</label>
          <input 
              name="password"
              type="password"
              required
              #password="ngModel"
              [(ngModel)]="user.password"/>
        </div>
        <div 
            class="form-control error-display"
            *ngIf="password?.invalid && password.dirty">
          {{password?.errors | json}}
        </div>

        <div>
          <input type="submit" value="Enter" [disabled]="form.invalid || form.pristine"/>
        </div>
      </fieldset>
    </form>
  </div>
</div> -->
