html, body, app {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

courses-page {
  display: block;
  height: 100%;
}

a.active {
  background-color: gray;
}

app-shared-footer {
  margin: 20px auto;
  text-align: center;
  width: 100%;
}

app-shared-header {
  display: block;
  margin: 20px;
}